<div class="lg-workspace__content">
	<div class="da-all">
			<div class="da2-da5"><h1 class="lg-header__b">Become a Signatory to the Universal Declaration of Human Rights</h1></div>

			<div class="da2-da5"><%= render 'form' %></div>

			<div class="da2-da5"><%= link_to 'Back', "/home/index", :class => "lg-button__gray lg-button__filled lg-margin__vertical-line-height" %></div>
	</div>
</div>