<div class="lg-workspace__content">
  <div class="da-all">
      <div class="da2-da5">
        <h1 class="lg-header__b lg-text-align__center">The World Needs More People Like You!</h1>
        <h1 class="lg-header__d lg-text-align__center">Help spread the word and encourage others to express their support for human rights.</h1>
      </div>
      <div class="da3-da4">
        <br>
        <a class="lg-button__branded-twitter lg-button__filled lg-maxwidth__full">Share on Twitter</a>
        <br>
        <br>
        <a class="lg-button__branded-facebook lg-button__filled lg-maxwidth__full">Share on Facebook</a>
        <br>
        <br>
        <a class="lg-button__branded-linkedin lg-button__filled lg-maxwidth__full">Share on LinkedIn</a>
        <hr>
        <a href="/" class="lg-button__gray lg-button__outline lg-maxwidth__full">Read the Declaration</a>
      </div>

  </div>
</div>