<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=314456832085717&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <div>
    <div class="da-all">
        <div class="da2-da5">
          <h1 class="lg-header__b lg-text-align__center">The World Needs More People Like You!</h1>
          <h1 class="lg-header__d lg-text-align__center">Help spread the word and encourage others to express their support for human rights.</h1>
        </div>
        <div class="da3-da4">
          <br>
          <a href="https://twitter.com/home?status=I%20just%20signed%20the%20Universal%20Declaration%20of%20Human%20Rights.%20Help%20spread%20awareness%20%23UDHR" target="_blank" class="lg-button__branded-twitter lg-button__filled lg-maxwidth__full">Share on Twitter</a>
          <br>
          <br>
          <a href="https://www.facebook.com/dialog/feed?app_id=807196019324393&link=http://www.declarationofhumanrights.com&picture=http://www.declarationofhumanrights.com/images/fourfreedoms.jpg&name=Declaration%20of%20Human%20Rights&caption=Celebrate,%20explore%20and%20sign%20the%20Universal%20Declaration%20of%20Human%20Rights.&redirect_uri=http://declarationofhumanrights.com" class="lg-button__branded-facebook lg-button__filled lg-maxwidth__full">Share on Facebook</a>
          <br>
          <br>

          <a href="https://plus.google.com/share?url=www.declarationofhumanrights.com" class="lg-button__destructive lg-button__filled lg-maxwidth__full"><span class="ss-social ss-googleplus" style="float: left; margin-top:1em;"></span >Share on Google+</a>
          <hr>
          <a href="/" class="lg-button__gray lg-button__outline lg-maxwidth__full">Read the Declaration</a>
        </div>
</div>
    </div>
