// Place all the styles related to the Declaration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: Georgia;
	padding: 4em;
	line-height: 1.5;
	letter-spacing: 0.01rem;
}

p {
	font-size: 2.4em;
}