<header class="lg-app-header__wrapper">
  <div class="lg-app-header">
    <div class="lg-app-header__logo dropdown">
      <a class="lg-app-nav__link" href="/" title="Declaration"><img alt="Startup" src="/images/lawgives-logo-symbol%40200w.png">&nbsp;Declaration of Human Rights</img></a>
    </div>
    <nav class="lg-app-nav">
      <div class="lg-app-nav__list lg-app-nav__list-account-secondary">
        <div class="lg-app-nav__item">
          <a class="lg-app-nav__link" href="https://twitter.com/home?status=Join%20me%20in%20celebrating,%20exploring%20and%20signing%20the%20Universal%20Declaration%20of%20Human%20Rights.%20%23UDHR%20via%20@digitallawyer%20@lawgives"><span class="lg-app-nav__label ss-social ss-twitter"></span></a>
        </div>
        <div class="lg-app-nav__item">
          <a class="lg-app-nav__link" href="https://www.facebook.com/dialog/feed?app_id=807196019324393&link=http://www.declarationofhumanrights.com&picture=http://www.declarationofhumanrights.com/images/fourfreedoms.jpg&name=Declaration%20of%20Human%20Rights&caption=Celebrate,%20explore%20and%20sign%20the%20Universal%20Declaration%20of%20Human%20Rights.&redirect_uri=http://declarationofhumanrights.com"><span class="lg-app-nav__label ss-social ss-facebook"></span></a>
        </div>
        <div class="lg-app-nav__item">
          <a class="lg-app-nav__link" href="/lawyers/communities"><span class="lg-app-nav__label ss-social ss-googleplus"></span></a>
        </div>

      </div>
    </nav>
  </div>
</header>
